@font-face {
  font-family: "cheddar";
  src: url("assets/font/cheddar_jack.ttf");
}
.row {
  margin-left: 0px;
}
.screen {
  width: 375px;
  height: 627px;
  border: 1px solid black ;
}
.screen p {
  font-family: 'Raleway', sans-serif;
  color: #C69957 ;
}
.screen a {
  color: white;
}
.row {
  height: 33%;
  margin-left: 0px;
  color: white;
  width: 100%;
}
.row .photos .carrephoto1 {
  width: 90px;
  height: 90px;
  border: 1px solid white;
  margin-top: 8px;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.row .photos .carrephoto2 {
  width: 90px;
  height: 90px;
  border: 1px solid white;
  margin-top: 8px;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.what {
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 15px;
  color: #DA214A;
}
.who {
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 35px;
  color: #DA214A;
}
.when {
  font-weight: 200;
  font-size: 0.8em;
  bottom: 10px;
}
.fa-pencil {
  top: 10px;
  right: 60px;
  position: absolute;
}
.fa-bell-o {
  position: absolute;
  top: 165px;
  right: 60px;
}
.row1 {
  background-color: #ffb600;
}
.row1 p {
  color: #333333;
}
.row2 {
  background-color: #333333;
}
.row2 p {
  color: #ffb600;
}
.row3 {
  background-color: #ffb600;
  position: relative;
}
.row3 p {
  color: #333333;
}
.anim:hover .row3 {
  padding-right: -30px;
}
.anim:hover .row3 {
  right: -30px;
}
#testanim:hover .icones {
  opacity: 1;
}
.icones {
  position: absolute;
  opacity: 0;
  transition: 200ms;
}
.icones .un {
  top: 3px;
  left: 320px;
  position: absolute;
}
.icones .deux {
  top: 105px;
  left: 320px;
  position: absolute;
}
.icones .trois {
  top: 156px;
  left: 320px;
  position: absolute;
}
.icones .quatre {
  top: 54px;
  left: 320px;
  position: absolute;
}
